:root{
  --theme: #000096;
  --padding: 40px;
}

body{
  min-height: 100%;
  max-width: 1000px;
  margin: auto;
  font-family: 'Open Sans', sans-serif;
  box-sizing: border-box;
  padding: var(--padding);
  border-top: 10px solid var(--theme);
  line-height: 1.25;
}

body:not(.mobile) #header{
  display: flex;
  justify-content: space-between;
}

.profile{
  display: flex;
  align-items: center;
}

#header .profile img:first-of-type{
  height: 64px;
}

#header .profile h1:first-of-type{
  font-size: 64px;
  margin: 0;
  margin-left: 20px;
}

body.mobile #header .profile h1:first-of-type{
  font-size: 32px;
}

#header td{
  display: flex;
  align-items: center;
  margin-left: 10px;
}

#header tr{
  display: flex;
}

#header a{
  color: black;
}

#header a:not(:hover){
  text-decoration: none;
}

.icon{
  width: 2em;
  height: 2em;
  color: transparent;
}

h3.title {
  font-weight: bold;
  color: var(--theme);
}

#projects ul li b, #skills ul li b{
  font-weight: bold;
  color: hsl(from var(--theme) h s 70%);
}

#projects ul li a{
  text-decoration: underline hsl(from var(--theme) h s 70%);
}

#projects ul li a:not(:hover){
  text-decoration: none;
}

.uppercase {
  text-transform: uppercase;
}

.printbtn{
  position: absolute;
  bottom: 1em;
  right: 1em;
  border: none;
  background: none;
}